body
{
    background-image:url("others.png");
    background-size:cover;
}
.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header
{
    display:flex;
    flex-direction: row;
    font-family: "Varela Round", sans-serif;
    align-items: center;
    padding:20px;
    font-weight:bold;
    color:white;
    margin-bottom:none;
    padding-bottom:none;
}
.links ul {
    list-style-type: none;
    display: flex;
    padding-left: 200px;;
}
.links ul li {
    padding: 0 20px;
}
.charan:hover
{
    font-size:20px;
    color:black;
}
@keyframes slideInLeft {
    from{
        transform: translateX(-900px);
    }

    to{
        transform: translateX(0);
    }
}
.others{
    font-size: 40px;
    text-align: center;
    color: black;
    font-family: "Varela Round", sans-serif;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    font-weight: solid;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 50px;
}
main
{
    font-family: "Varela Round", sans-serif;
    margin-top:15px;
    padding:0;
    margin-bottom:0;
    height:650px;
    width:1500px;
}
main:hover
{
    background-image:url("othback.png");
    background-size:cover;
    margin-left:none;
    color:white;
}
.others:hover
{
    color:white;
    font-size:100px;
}
.contact
{
    color:white;
    text-decoration: none;
}
.contact:hover
{
    color:black;
}
.aboutme
{
    color:white;
    text-decoration: none;
}
.aboutme:hover
{
    color:black;
}
.home
{
    color:white;
    text-decoration: none;
}
.home:hover
{
    color:black;
}
.skills
{
    color:white;
    text-decoration: none;
}
.skills:hover
{
    color:black;
}
.experience
{
    color:white;
    text-decoration: none;
}
.experience:hover
{
    color:black;
}
.projects
{
    color:white;
    text-decoration: none;
}
.projects:hover
{
    color:black;
}
.hack{
    font-size: 35px;
    text-align: center;
    color: black;
    font-family: "Varela Round", sans-serif;
    animation-name: slideInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    font-weight: solid;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 50px;
}
.hack:hover
{
    color:white;
    font-size:45px;
}
.ahack
{
    display:inline-block;
    width:600px;
    border-style:solid;
    margin-left:90px;
    border-radius:10px;
    padding-left:15px;
}
.chack
{
    display:inline-block;
    width:600px;
    border-style:solid;
    margin-left:90px;
    border-radius:10px;
    padding-left:15px;
}
.amazon
{
    display:block;
    text-align: center;
    padding-top:7px;
    padding-bottom: 7px;
}
.cocacola
{
    display:block;
    text-align:center;
    padding-top:7px;
    padding-bottom: 7px;
}
.ahack:hover,.chack:hover
{
    color:white;
}
.achievements
{
    font-size: 35px;
    text-align: center;
    color: black;
    font-family: "Varela Round", sans-serif;
    animation-name: slideInLeft;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    font-weight: solid;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 50px;
}
.achievements:hover
{
    color:white;
    font-size:45px;
}
.achi1
{
    text-align: center;
    font-family: "Varela Round", sans-serif;
}