body
{
    background-image:url("projects.png");
    background-size:cover;
}
.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header
{
    display:flex;
    flex-direction: row;
    font-family: "Varela Round", sans-serif;
    align-items: center;
    padding:20px;
    font-weight:bold;
    color:white;
    margin-bottom:none;
    padding-bottom:none;
}
.links ul {
    list-style-type: none;
    display: flex;
    padding-left: 200px;;
}
.links ul li {
    padding: 0 20px;
}
.charan:hover
{
    font-size:20px;
    color:black;
}
@keyframes slideInLeft {
    from{
        transform: translateX(-900px);
    }

    to{
        transform: translateX(0);
    }
}
.projects{
    font-size: 40px;
    text-align: center;
    color: black;
    font-family: "Varela Round", sans-serif;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    font-weight: solid;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 50px;
}
main
{
    font-family: "Varela Round", sans-serif;
    margin-top:15px;
    padding:0;
    margin-bottom:0;
    height:650px;
    width:1500px;
}
main:hover
{
    background-image:url("projectsback.jpg");
    background-size:cover;
    margin-left:none;
}
.projects:hover
{
    color:white;
    font-size:100px;
}
.contact
{
    color:white;
    text-decoration: none;
}
.contact:hover
{
    color:black;
}
.aboutme
{
    color:white;
    text-decoration: none;
}
.aboutme:hover
{
    color:black;
}
.home
{
    color:white;
    text-decoration: none;
}
.home:hover
{
    color:black;
}
.skills
{
    color:white;
    text-decoration: none;
}
.skills:hover
{
    color:black;
}
.experience
{
    color:white;
    text-decoration: none;
}
.experience:hover
{
    color:black;
}
.cpimg,
.cppimg,
.crsimg,
.udemyimg {
    height: 60px;
    width: 60px;
    display: inline-block;
    vertical-align: middle; 
    padding-left: 5px;
}

.crsdata,
.udemydata,
.cppdata,
.uropdata {
    font-family: "Varela Round", sans-serif;
    display: inline-flex; 
    align-items: center; 
    font-size: 20px;
    padding-left: 8px;
    height: 60px; 
}

.crsdata,
.udemydata,
.cppdata,
.uropdata{
    margin-left: 10px; 
}
.crs,.udemy,.cpp,.cp
{
    margin-bottom:15px;
    border-style:solid;
    border-radius: 30px;
}
.crs:hover,
.udemy:hover,
.cpp:hover,
.cp:hover
{
    color:white;
    font-size:25px;
}
.cpl,.hml,.udl,.crsl
{
    text-decoration: none;
    color:black;
    align-items: right;
    padding-left:40px;
    font-weight:bold;
    font-family: "Varela Round", sans-serif;
}
.others
{
    color:white;
    text-decoration: none;   
}
.others:hover
{
    color:black;
}
